@import url('https://fonts.googleapis.com/css2?family=Source+Sans+3:ital,wght@0,200..900;1,200..900&display=swap');

.divider {
  background-color: #e0e0e0;
}

.horizontal-divider {
  width: 500px;
  height: 1.6px;
  margin: 16px 0;
}

.vertical-divider {
  height: 400px;
  width: 1.6px;
  margin: 0 16px;
  display: inline-block;
}
