@font-face {
  font-family: "MyCustomFont";
  src: url("./../../assets/SourceSansPro-Regular.otf") format("opentype");
}
.vertical-tab {
  display: flex;
  padding: 5px 16px;
  border: none;
  cursor: pointer;
  transition: 0.3s ease;
}
.vertical-tab span {
  font-weight: 600;
  font-family: "MyCustomFont";
  transition: 0.3s ease;
  font-size: 16px;
  text-align: center;
}

.vertical-tab:hover {
  opacity: 0.8;
}

.vertical-tab.isActive {
  border-left: 4px solid #cc5f00;
}

.vertical-tab .leftIcon {
  width: 0;
  fill: #cc5f00;
  margin-right: 0;
}

.vertical-tab .leftIcon.left {
  width: 15px;
  margin-right: 8px;
}

.vertical-tab .rightIcon {
  width: 0;
  fill: #cc5f00;
  margin-left: 0;
}

.vertical-tab .rightIcon.right {
  width: 15px;
  margin-left: 8px;
}
