@font-face {
  font-family: "MyCustomFont";
  src: url("./../../assets/SourceSansPro-Regular.otf") format("opentype");
}

.outlined-custom-button {
  padding: 6px 10px;
  margin: 0;
  font-weight: 600;
  text-transform: none;
  cursor: pointer;
  background-color: transparent;
  border: 2px solid #2196f3;
  font-family: "MyCustomFont";
  transition: 0.3s ease;
}

.outlined-custom-button:hover {
  opacity: 0.8;
}

.outlined-custom-button.small {
  padding: 6px 10px;
  font-size: 14px;
}

.outlined-custom-button.medium {
  padding: 10px 14px;
  font-size: 16px;
}

.outlined-custom-button.large {
  padding: 12px 16px;
  font-size: 18px;
}
