@font-face {
  font-family: "MyCustomFont";
  src: url("./../../assets/SourceSansPro-Regular.otf") format("opentype");
}

.text-custom-button {
  padding: 5px 8px;
  margin: 0;
  font-weight: 700;
  text-transform: none;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  color: #2196f3;
  background-color: transparent;
  font-family: "MyCustomFont";
  transition: 0.3s ease;
}

.text-custom-button:hover {
  opacity: 0.8;
}

.text-custom-button.small {
  padding: 8px 12px;
  font-size: 14px;
}

.text-custom-button.medium {
  padding: 12px 16px;
  font-size: 16px;
}

.text-custom-button.large {
  padding: 14px 18px;
  font-size: 18px;
}