@font-face {
    font-family: "MyCustomFont";
    src: url("./../../assets/SourceSansPro-Regular.otf") format("opentype");
  }

.right-search-container {
    display: flex;
    align-items: center;
    background-color: #F4F6F9;
    border-radius: 8px;
}

.right-search-input {
    flex: 1;
    background-color: transparent;
    border: none;
    outline: none;
    padding: 12px 16px;
    color: #09101D;
    font-family: "MyCustomFont";
}

.right-search-input.small {
    font-size: 16px;
    padding: 12px 16px;
}

.right-search-input.medium {
    font-size: 24px;
    padding: 12px 20px;
}

.right-search-input.large {
    font-size: 32px;
    padding: 16px 24px;
}

.right-search-icon {
    width: 16px;
    margin-right: 24px;
    fill: #858C94;
}

.right-search-icon.medium {
    width: 22px;
    margin-right: 32px;
}

.right-search-icon.large {
    width: 30px;
    margin-right: 38px;
}

