@import url("https://fonts.googleapis.com/css2?family=Source+Sans+3:ital,wght@0,200..900;1,200..900&display=swap");

.typography {
    margin-bottom: 20px;
    font-family: "Source Sans 3", sans-serif;
}

.typoType {
    font-size: 18px;
    font-weight: 700;
    color: #6d7580;
    font-family: "Source Sans 3", sans-serif;
}