@import url('https://fonts.googleapis.com/css2?family=Source+Sans+3:ital,wght@0,200..900;1,200..900&display=swap');

.custom-button {
  transition: 0.3s;
  cursor: pointer;
  outline: none;
  font-family: "Source Sans 3", sans-serif;
  font-weight: 600;
  transition: 0.3s;
}

.custom-button:hover {
  filter: brightness(90%);
}

.custom-button--small {
  font-size: 12px;
  padding: 10px 16px;
}

.custom-button--medium {
  font-size: 16px;
  padding: 12px 16px;
}

.custom-button--large {
  font-size: 18px;
  padding: 14px 18px;
}
