@font-face {
  font-family: "MyCustomFont";
  src: url("./../../assets/SourceSansPro-Regular.otf") format("opentype");
}
.horizontal-tab {
  display: flex;
  padding: 8px 16px;
  cursor: pointer;
  border: none;
  transition: 0.3s ease;
}
.horizontal-tab.isActive {
  border-bottom: 3px solid #cc5f00;
}
.horizontal-tab span {
  font-weight: 600;
  font-family: "MyCustomFont";
  transition: 0.3s ease;
  font-size: 16px;
  text-align: center;
}
.horizontal-tab:hover {
  opacity: 0.8;
}
.horizontal-tab .leftIcon {
  width: 0;
  fill: #cc5f00;
  margin-right: 0;
}

.horizontal-tab .leftIcon.left {
  width: 15px;
  margin-right: 10px;
}

.horizontal-tab .rightIcon {
  width: 0;
  fill: #cc5f00;
  margin-left: 0;
}

.horizontal-tab .rightIcon.right {
  width: 10px;
  margin-left: 10px;
}
