@font-face {
  font-family: "MyCustomFont";
  src: url("./../../assets/SourceSansPro-Regular.otf") format("opentype");
}

.custom-modal-footer {
  display: flex;
  align-items: center;
  justify-content: end;
  padding: 18px 26px;
  border-top: 1px solid #9098a1;
  font-weight: 700;
}

.custom-modal-footer-message {
  font-family: "MyCustomFont";
  flex: 1;
  margin-right: 8px;
}
.custom-modal-footer-btn {
  cursor: pointer;
  outline: none;
  border: none;
  font-size: 14px;
  font-family: "MyCustomFont";
  padding: 8px 12px;
  margin-right: 20px;
  font-weight: 700;
  background-color: transparent;
  transition: 0.3s ease;
}

.custom-modal-footer-btn:hover {
    opacity: 0.8;
    transform: scale(1.02);
}
.custom-modal-footer-text-btn {
  color: #9098a1;
}

.custom-modal-footer-outlined-btn {
  border: 2px solid #9098a1;
  color: #9098a1;
}

.custom-modal-footer-solid-btn {
  color: #fff;
  padding: 10px 14px;
  margin-right: 0;
}

.custom-modal-footer-solid-btn.error {
    background-color: #da1414;
}

.custom-modal-footer-solid-btn.warning {
    background-color: #b95000;
}
.custom-modal-footer-solid-btn.success {
    background-color: #287d3c;
}
.custom-modal-footer-solid-btn.info {
    background-color: #2e5aac;
}

