@import url('https://fonts.googleapis.com/css2?family=Source+Sans+3:ital,wght@0,200..900;1,200..900&display=swap');

.dot-badge {
  width: 8px;
  height: 8px;
  border-radius: 50%;
}

.number-custom-badge {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  width: 28px;
  height: 28px;
  background-color: #f44336;
  color: #fff;
  font-weight: 600;
  font-family: "Source Sans 3", sans-serif;
}