@font-face {
  font-family: "MyCustomFont";
  src: url("../assets/SourceSansPro-Regular.otf") format("opentype");
}

.custom-input-messages {
  display: flex;
  align-items: center;
  padding: 18px 26px;
  border-radius: 8px;
  width: 550px;
}

.custom-input-messages.error .error-icons {
  width: 20px;
  margin-right: 10px;
  fill: #da1414;
}

.custom-input-messages.warning .error-icons {
  width: 20px;
  margin-right: 10px;
  fill: #b95000;
}

.custom-input-messages.success .error-icons {
  width: 20px;
  margin-right: 10px;
  fill: #287d3c;
}

.custom-input-messages.info .error-icons {
  width: 20px;
  margin-right: 10px;
  fill: #2e5aac;
}

.custom-input-messages.error {
  background-color: #feefef;
  color: #da1414;
}

.custom-input-messages.warning {
  background-color: #fff4ec;
  color: #b95000;
}

.custom-input-messages.success {
  background-color: #edf9f0;
  color: #287d3c;
}

.custom-input-messages.info {
  background-color: #eef2fa;
  color: #2e5aac;
}

.custom-input-messages-icon {
  margin-right: 8px;
}

.custom-input-message {
  font-family: "MyCustomFont";
  flex: 1;
  margin-right: 8px;
}
